<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="writeForm" th:fragment="writeForm">
		<link rel="stylesheet" href="css/dataroom/dataroom.css">
		<link rel="stylesheet" href="css/dataroom/dataroomView.css">
		<link rel="stylesheet" href="css/dataroom/dataroomWrite.css">
		<form action="dataroom.upload" method="post" enctype="multipart/form-data" onsubmit="return dataroomWriteCheck(this);">
			<input id="drWriteFormTitle" name="title" maxlength="100" placeholder="제목을 입력해주세요">
			<textarea id="summernote" name="content"></textarea>
			<input id="drWriteFormFile" name="files" type="file" multiple="multiple">
			<button id="drWriteFormBtn">쓰기</button>
			<input name="drMw" th:value="${session.loginMember.id}" hidden="hidden">
			<input name="token" th:value="${token}" hidden="hidden">
		</form>
	</div>
</body>
</html>