<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/member/login.css">
<title>TRACE</title>
</head>
<body>
	<table id="logintitleArea">
		<tr><th>
		<a href="/" style="user-select: none;">
		T<span class="letterR">R</span><span class="letterA">A</span>CE</a></th>
		</tr>
	</table>
	<form action="member.login" method="post">
		<div id="loginArea">
			<div id="inputID" align="center"><input placeholder="이메일" name="id"></div>
			<div id="inputPW" align="center"><input placeholder="비밀번호" type="password" name="pw"></div><p>
			<div align="center"><button>로그인</button></div><p>
			<div align="center" id="loginTool">
				<a href="member.findpw.go">비밀번호찾기</a>
				<a href="member.join.go">회원가입</a>
			</div>
		</div>

	</form>
   <script>
	   alert("로그인 실패 다시 확인해주세요");
   </script>

</body>
</html>