<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>TRACE</title>
</head>

<body th:fragment="qbWrite">
	<form action="qb.write" method="post" onsubmit="return submitForm();">
		<table id="qbWrite">
			<tr>
				<td>
					<h2>Q&A게시판 글쓰기</h2>
				</td>
				<td align="right">
					<a class="uA" href="qb.go">나가기</a>
				</td>
			</tr>
			<tr>
				<td>
					<select name="cate" id="qbCategory">
						<option value="Java">Java</option>
						<option value="JavaScript">JavaScript</option>
						<option value="Python">Python</option>
						<option value="SQL">SQL</option>
						<option value="etc">기타</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input name="qbWriter" th:value="${session.loginMember.id}" type="hidden"></td>
				<td><input name="token" th:value="${token}" type="hidden">
				</td>
			</tr>
			<tr>
				<td class="wTd1" colspan="2">
					<input name="title" id="qbWriteTitle" placeholder="제목을 입력하세요" required>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="toolbar">
						<span class="ql-formats"> <select class="ql-font">
								<option value="arial">Arial</option>
								<option value="comic-sans">Comic Sans</option>
								<option value="courier-new">Courier New</option>
								<option value="georgia">Georgia</option>
								<option value="helvetica">Helvetica</option>
								<option value="lucida">Lucida</option>
							</select> <select class="ql-size">
								<option value="extra-small">Size 1</option>
								<option value="small">Size 2</option>
								<option value="medium">Size 3</option>
								<option value="large">Size 4</option>
							</select> <select class="ql-header">
								<option value="1">Heading</option>
								<option value="2">Subheading</option>
								<option value="3">Normal</option>
							</select>
						</span> <span class="ql-formats">
							<button class="ql-bold"></button>
							<button class="ql-italic"></button>
							<button class="ql-underline"></button>
							<button class="ql-strike"></button>
						</span> <span class="ql-formats">
							<button class="ql-list" value="ordered"></button>
							<button class="ql-list" value="bullet"></button>
							<button class="ql-indent" value="-1"></button>
							<button class="ql-indent" value="+1"></button>
						</span> <span class="ql-formats">
							<button class="ql-script" value="super"></button>
							<button class="ql-script" value="sub"></button>
							<button class="ql-blockquote"></button>
							<button class="ql-direction"></button>
						</span> <span class="ql-formats"> <select class="ql-align"></select>
							<select class="ql-color"></select> <select class="ql-background"></select>
						</span> <span class="ql-formats">
							<button class="ql-link"></button>
							<button class="ql-image"></button>
							<button class="ql-video"></button>
						</span> <span class="ql-formats">
							<button class="ql-code-block"></button>
							<button class="ql-clean"></button>
						</span>
					</div>
					<div id="editor"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button class="wBtn" type="submit">작성</button>
				</td>
			</tr>
		</table>
	</form>
	<script type="text/javascript" src="js/qb/writeQuill.js"></script>
</body >
</html >