<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 수정</title>
<script type="text/javascript" src="js/summernote/summernote-lite.min.js"></script>
<script type="text/javascript" src="js/summernote/summernote-ko-KR.min.js"></script>
<script type="text/javascript" src="js/summernote/sn.js"></script>
</head>
<body>
	<form th:fragment="noticeUpdate" action="notice.update" method="post" enctype="multipart/form-data">
		<table>
			<tr th:each="d : ${details}">
				<td>
					<input name="no" th:value="${d.no}" type="hidden">
					<input id="noticeTitle" name="dtitle" th:value="${d.title}" style="width: 100%; text-align: center;"><br/><br/>
					<textarea id="summernote" name="dcontents" th:utext="${d.contents}"></textarea>
				</td>
			</tr>
		</table>
		<input name="writer" th:value="${session.loginMember.id}" type="hidden">
		<button>작성</button>
	</form>
</body>
</html>